@import "tailwindcss";

@source "../**/*.{js,ts,jsx,tsx,mdx}";

@theme {
  --color-primary-50: #e6f7ff;
  --color-primary-100: #b3e5ff;
  --color-primary-200: #80d3ff;
  --color-primary-300: #4dc1ff;
  --color-primary-400: #1aafef;
  --color-primary-500: #068ccf;
  --color-primary-600: #0570a6;
  --color-primary-700: #04547d;
  --color-primary-800: #033854;
  --color-primary-900: #021c2b;
}

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: Euclidean;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
