@import "tailwindcss";

@source "../**/*.{js,ts,jsx,tsx,mdx}";

@theme {
  --color-primary-50: #021c2b;
  --color-primary-100: #033854;
  --color-primary-200: #04547d;
  --color-primary-300: #0570a6;
  --color-primary-400: #068ccf;
  --color-primary-500: #1aafef;
  --color-primary-600: #4dc1ff;
  --color-primary-700: #80d3ff;
  --color-primary-800: #b3e5ff;
  --color-primary-900: #e6f7ff;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
